.mat-card {
  display: flex;
  align-items: center;
  border: none;
  box-shadow: none;
  padding: 0;
}

.flex-grow-1 {
  flex-grow: 1;
  padding-right: 40px;
}

mat-card {
  margin-top: 20px;
}